@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

.form-control {
    padding: 5px 0;
    margin: 5px 0;
}

.input-error {
    margin: 2px 0;
    padding: 5px 0;
    color: #FF0000;
}

.layout-footer {
    border-top: 2px dotted #000;
    padding: 20px 0;
    margin: 50px 0;
}










